body {
  min-height: 100vh;
  font-family: 'Punctuation SC', 'Inter', ui-sans-serif, system-ui, 'PingFang SC',
    'Noto Sans CJK SC', 'Noto Sans SC', 'Heiti SC', 'Microsoft YaHei', 'DengXian', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html:root {
  --el-color-primary: #14b8a6; /* tral-500 */
  --el-color-primary-light-3: #2dd4bf;
  --el-color-primary-light-5: #5eead4;
  --el-color-primary-light-7: #99f6e4;
  --el-color-primary-light-8: #ccfbf1;
  --el-color-primary-light-9: #f0fdfa;

  --success-color: #67c23a;
  --warn-color: #e6a23c;
  --danger-color: #f56c6c;

  --placeholder-color: #a8abb2;
  --disabled-color: #c0c4cc;
}

a {
  text-decoration-line: none;
  color: inherit;
}

section {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #666;
}
